ConsultaInformacionClienteEmpresarial-esbXML-il_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Bancololombia - Gerencia Desarrollo Servicios de Integracion - 14/08/2018 - Generado por: genaro-vcsoft  -->
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="unqualified" targetNamespace="http://grupobancolombia.com/intf/IL/esbXML/V3.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://grupobancolombia.com/intf/IL/esbXML/V3.0"
	xmlns:bons0="http://grupobancolombia.com/intf/Cliente/Conocimiento/ConsultaInformacionClienteEmpresarial/V1.0" xmlns:Q1="http://grupobancolombia.com/ents/IL/MessageFormat/V4.1">

	<xs:import schemaLocation="il-core-MessageFormat-V4.1.xsd"
		namespace="http://grupobancolombia.com/ents/IL/MessageFormat/V4.1">
	</xs:import>

	<xs:import schemaLocation="ConsultaInformacionClienteEmpresarial_V1.0.xsd"
		namespace="http://grupobancolombia.com/intf/Cliente/Conocimiento/ConsultaInformacionClienteEmpresarial/V1.0" />

	<xs:element name="esbXML" type="tns:esbXML" />

	<xs:complexType name="esbXML">
		<xs:sequence>
			<xs:element name="Header" type="Q1:Header" />
			<xs:element name="Body" type="tns:Body" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Body">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="1">

					<!--Inicio Operaciones-->
				<xs:element ref="bons0:consultarInformacionGeneral" />
				<xs:element ref="bons0:consultarInformacionGeneralResponse" />
				
				<xs:element ref="bons0:consultarInformacionFinanciera" />
				<xs:element ref="bons0:consultarInformacionFinancieraResponse" />
				
				<xs:element ref="bons0:consultarInformacionAccionistas" />
				<xs:element ref="bons0:consultarInformacionAccionistasResponse" />
				
				<xs:element ref="bons0:consultarInformacionContactos" />
				<xs:element ref="bons0:consultarInformacionContactosResponse" />
				
				<xs:element ref="bons0:consultarInformacionMiembrosJunta" />
				<xs:element ref="bons0:consultarInformacionMiembrosJuntaResponse" />
				
				<!--Fin Operaciones-->
				
				<!--Inicio Excepciones-->
				<xs:element ref="bons0:systemException" />
				<xs:element ref="bons0:businessException" />

			</xs:choice>
		</xs:sequence>
	</xs:complexType>

</xs:schema>