soi-core-MessageFormat-V2.1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://grupobancolombia.com/ents/SOI/MessageFormat/V2.1" version="1.0" xmlns:bons1="http://grupobancolombia.com/ents/SOI/CoreExtensions/V2.1" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:tns="http://grupobancolombia.com/ents/SOI/MessageFormat/V2.1">
	<xsd:import namespace="http://grupobancolombia.com/ents/SOI/CoreExtensions/V2.1" schemaLocation="soi-core-CoreExtension-V2.1.xsd">
	</xsd:import>
	<xsd:element ibmSchExtn:docRoot="true" name="requestHeader" type="tns:RequestHeader"/>
	<xsd:element ibmSchExtn:docRoot="true" name="responseHeader" type="tns:ResponseHeader"/>
	<xsd:complexType abstract="true" name="Header">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="systemId" type="xsd:string"/>
			<xsd:element minOccurs="1" name="messageId" type="xsd:string"/>
			<xsd:element minOccurs="0" name="timestamp" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="messageContext" type="bons1:MessageContext"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RequestHeader">
		<xsd:complexContent>
			<xsd:extension base="tns:Header">
				<xsd:sequence>
					<xsd:element minOccurs="1" name="userId" type="bons1:UsernameToken"/>
					<xsd:element minOccurs="0" name="destination" type="bons1:Destination"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="classifications" type="bons1:Classifications"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ResponseHeader">
		<xsd:complexContent>
			<xsd:extension base="tns:Header">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="responseStatus" type="bons1:ResponseStatus"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>